<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="microsoft-windows-terminal"/>
	<package id="googlechrome"/>
	<package id="firefox"/>
	<package id="git"/>
	<package id="git-lfs"/>
	<package id="nodejs-lts"/>
	<package id="vscode"/>
	<package id="postman"/>
	<package id="notepadplusplus"/>
	<package id="jetbrainstoolbox"/>
	<package id="azure-functions-core-tools"/>
	<package id="sharex"/>
	<package id="azure-cosmosdb-emulator"/>
	<package id="powershell-core"/>
	<package id="nvm"/>
</packages>
